.DS_Store
**/.idea/
**/node_modules
**/__pycache__
businesscard_extractor/.env
/dinedial_ai
table-buddy/restaurants.db
pharma-redact/.env
**/secrets.json
**/.env
**/.env.*
!**/.env.example
/csp_documentation/backend/output
/csp_documentation/backend/templates
/price_comparison/.next
